In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

data = pd.read_csv('new_comment_labeled_raw.csv')
data

C:\Users\PPTI Java\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

      label                                               text
0         1                                               text
1         1  Wow. This was simply amazing. A strategy that ...
2         1  Amazingggggg. Lovedddd the second last line. T...
3         1  Such beautiful words and values to follow. Lov...
4         1  I was extremely sensitive and found the book "...
...     ...                                                ...
9611      1  Why do we “need” An enemy?\nI said that for th...
9612      2  Thank you Frederik Imbo, you're a wise man ind...
9613      1  what if you make the wrong call on the field? ...
9614      1                        Just because i type slow...
9615      1                           I'm the 2nd to view this

[9616 rows x 2 columns]

In [2]:
from sklearn.model_selection import train_test_split

X = data['text']
y = data['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)

train_data = pd.DataFrame(data=y_train, columns=['label'])
train_data['text'] = X_train

train_data.to_csv('data3_3/train_data.csv', index=False)

test_data = pd.DataFrame(data=y_test, columns=['label'])
test_data['text'] = X_test

test_data.to_csv('data3_3/test_data.csv', index=False)