In [1]:
# import csv
import pandas as pd

df = pd.read_csv('cleaned_comments.csv', header=None)

print(df)
df_saved = df.copy()

                                                     0
0                                                 text
1    Been a long ass time since I uploaded on this ...
2    There is a whole science of passing interviews...
3    I have solved 65 Leetcode exercises + about 50...
4    You know Pepe the Frog has been co-opted by ra...
..                                                 ...
546  I just finished 100 problem as per your strate...
547  Do you mean it's better to solve Neetcode 150 ...
548                                              Third
549                                   Love the content
550                                              First

[551 rows x 1 columns]

In [2]:
# Downlaoad NLTK
import nltk

nltk.download('stopwords')
nltk.download('punkt')

C:\Users\PPTI Java\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package stopwords to C:\Users\PPTI
[nltk_data]     Java\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\PPTI
[nltk_data]     Java\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
# Case Folding
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

df

                                                     0
0                                                 text
1    been a long ass time since i uploaded on this ...
2    there is a whole science of passing interviews...
3    i have solved 65 leetcode exercises + about 50...
4    you know pepe the frog has been co-opted by ra...
..                                                 ...
546  i just finished 100 problem as per your strate...
547  do you mean it's better to solve neetcode 150 ...
548                                              third
549                                   love the content
550                                              first

[551 rows x 1 columns]

In [4]:
# Tokenization
import re
import string
from nltk.tokenize import word_tokenize

# Remove Number
df = df.applymap(lambda s: re.sub(r"\d+", "", s) if type(s) == str else s)

# Remove punctuation
# translator = str.maketrans("", "", string.punctuation)
# df = df.applymap(lambda s: s.translate(translator) if type(s) == str else s)

# Trim whitespace
df = df.applymap(lambda s: s.strip() if type(s) == str else s)

# Change whitespace in between text into a single whitespace
df = df.applymap(lambda s: re.sub('\s+',' ', s) if type(s) == str else s)

# Tokenize
df_tokens = df.applymap(lambda s: word_tokenize(s) if type(s) == str else s)

In [5]:
# Stop Words Removal
from nltk.corpus import stopwords
import numpy as np

en_list_stopwords = set(stopwords.words('english'))
# id_list_stopwords = set(stopwords.words('indonesian'))

df_tokens = df_tokens.applymap(lambda s: [word for word in s if not word in en_list_stopwords] if type(s) == list else s)

df_tokens[0] = df_tokens[0].replace('', np.nan).dropna()

In [6]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

df_output = df_tokens.applymap(lambda s: [stemmer.stem(word) for word in s] if type(s) == list else s)
df_output

# Save the DataFrame as a CSV file
# df_output.to_csv('comment_file_video1_clean.csv', index=False)

                                                     0
0                                               [text]
1    [long, ass, time, sinc, upload, channel, ,, kn...
2    [whole, scienc, pass, interview, ., job, ., pa...
3    [solv, leetcod, exercis, +, hackerrank, (, ugl...
4    [know, pepe, frog, co-opt, racist, ,, ’, ?, ’,...
..                                                 ...
546      [finish, problem, per, strategi, person_surf]
547   [mean, 's, better, solv, neetcod, rather, go, ?]
548                                            [third]
549                                    [love, content]
550                                            [first]

[551 rows x 1 columns]

In [7]:
a = range(1, len(df) + 1)
a

range(1, 552)

In [8]:
from nltk.sentiment import SentimentIntensityAnalyzer

nltk.download('vader_lexicon')
sia = SentimentIntensityAnalyzer()

new_column_values = []
df_output[:3]
for index, row in df_output.iterrows():
    # Example: Let's create a new column 'SquaredAge' that contains the square of the 'Age' column
    # squared_age = row['Age'] ** 2
    # print(df_output[0][index])
    try:
        sentence = ' '.join(df_output[0][index])
        sentiment_scores = sia.polarity_scores(sentence)
        # print(' '.join(df_output[0][index]))
        df_output[0][index] = sentence
        value = 2
        if sentiment_scores['neg'] > sentiment_scores['pos'] and sentiment_scores['neg'] > sentiment_scores['neu']:
            value = 0
        elif sentiment_scores['neu'] > sentiment_scores['pos']:
            value = 1
    except Exception as e:
        value = -1
    
    new_column_values.append(value)
# new_column_values.shape()
df_output['label'] = new_column_values
df_output
df_output['text'] = df_output[0]
df_output = df_output.drop(0, axis=1)
df_output.replace('', np.nan, inplace=True)
df_output = df_output.dropna(subset=['text'])
df_output.to_csv('new_comment_labeled_raw.csv', index=False)

[nltk_data] Downloading package vader_lexicon to C:\Users\PPTI
[nltk_data]     Java\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!