In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

data = pd.read_csv('new_comment_labeled_raw.csv')
data

C:\Users\PPTI Java\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

     label                                               text
0        1                                               text
1        1  long ass time sinc upload channel , know . eve...
2        1  whole scienc pass interview . job . pass inter...
3        1  solv leetcod exercis + hackerrank ( uglier sat...
4        1  know pepe frog co-opt racist , ’ ? ’ watch vid...
..     ...                                                ...
546      1            finish problem per strategi person_surf
547      1            mean 's better solv neetcod rather go ?
548      1                                              third
549      2                                       love content
550      1                                              first

[551 rows x 2 columns]

In [2]:
from sklearn.model_selection import train_test_split

X = data['text']
y = data['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)

train_data = pd.DataFrame(data=y_train, columns=['label'])
train_data['text'] = X_train

train_data.to_csv('data4_1/train_data.csv', index=False)

test_data = pd.DataFrame(data=y_test, columns=['label'])
test_data['text'] = X_test

test_data.to_csv('data4_1/test_data.csv', index=False)